footer.footer
	.footer__container._container
		.footer__body.body-footer
			.body-footer__row 
				.body-footer__about.about-footer
					a.about-footer__logo(href="index.html")
						img.about-footer__image(src="@img/logo.png")
					.about-footer__text Funking is the a popular Ecommerce site. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					.about-footer__social 
						a.about-footer__item._icon-facebook(href="https://facebook.com/", target="_blank")
						a.about-footer__item._icon-twitter(href="https://twitter.com/", target="_blank")
						a.about-footer__item._icon-instagram(href="https://www.instagram.com/", target="_blank")
						a.about-footer__item._icon-pinterset(href="https://www.pinterest.ru/", target="_blank")
				.body-footer__item.item-footer
					.item-footer__spoller.spoller-item-footer(data-spollers="767.98")
						.spoller-item-footer__item
							button.spoller-item-footer__title(type="button" data-spoller) Help
							.spoller-item-footer__body 
								nav.menu-footer
									ul.menu-footer__list
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Privacy Policy
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Shipping &amp; Delivery
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Refund Policy
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Track Your  Order
				.body-footer__item.item-footer
					.item-footer__spoller.spoller-item-footer(data-spollers="767.98")
						.spoller-item-footer__item
							button.spoller-item-footer__title(type="button" data-spoller) Store
							.spoller-item-footer__body 
								nav.menu-footer
									ul.menu-footer__list
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Furniture
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Tabble
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Sofa
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Other
				.body-footer__item.item-footer
					.item-footer__spoller.spoller-item-footer(data-spollers="767.98")
						.spoller-item-footer__item
							button.spoller-item-footer__title(type="button" data-spoller) Supports
							.spoller-item-footer__body 
								nav.menu-footer
									ul.menu-footer__list
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Feedbcak
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Contact us
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Download app
										li.menu-footer__item
											a.menu-footer__link(href="404.html") Terms conditins
			.body-footer__copy.copy-footer
				.copy-footer__column 
					.copy-footer__copy © 2021 Funking - All rights reserved.
				.copy-footer__column
					a.copy-footer__item(href="404.html") Privacy
					a.copy-footer__item(href="404.html") Security
					a.copy-footer__item(href="404.html") Terms

			