header
	.header__wrapper
		.header__top.top-header 
			.top-header__container._container 
				.top-header__body 
					.top-header__item 
						.top-header__welcome Welcome to our online shop
					.top-header__item
						.top-header__language.language-top-header._icon-arrow-down English (USD)
							.language-top-header__body
								button.language-top-header__button(type="button") Русский (RU)
					.top-header__item
						button.top-header__login Login or Sign up
		.header__middle.middle-header(data-sticky-item)
			.middle-header__container._container 
				.middle-header__body 
					a.middle-header__logo(href="index.html")
						img.middle-header__image(src="@img/logo.png", alt="Логотип")
					.middle-header__form.form-middle-header
						button.form-middle-header__icon._icon-search(type="button")
						div.form-middle-header__item(data-da=".middle-header__container, 991.98")
							input.form-middle-header__input(type="text", placeholder="Search here", autocomplete="off")
							button.form-middle-header__categories.categories-form-header._icon-arrow-down Categories 
								ul.categories-form-header__list 
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Chair
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Sofa
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Bench
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Storage
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Table
									li.categories-form-header__item 
										a.categories-form-header__link(href="404.html") Furniture
							button.form-middle-header__search._icon-search(type="submit")
					.middle-header__actions.actions-middle-header
						.actions-middle-header__cart.cart-middle-header
							.cart-middle-header__icon._icon-shop
							.cart-middle-header__body
								ul.cart-middle-header__list.cart-list
						.actions-middle-header__item._icon-notification
						.actions-middle-header__item._icon-avatar
		.header__main.main-header
			.main-header__container._container
				.main-header__body
					.main-header__column
						.main-header__collections.collections-main-header(data-spollers="767.98")
							.collections-main-header__item
								button.collections-main-header__title(type="button" data-spoller) ALL COLLECTIONS
								.collections-main-header__body 
									ul.collections-main-header__list 
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") All
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") New Arrivals
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Hot Sale
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Furniture
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Amrature
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Tabble
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Chair
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Sofa
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Mirrors
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Stools
										li.collections-main-header__item 	
											a.collections-main-header__link(href="404.html") Benches
					.main-header__column
						.main-header__menu.menu
							nav.menu__body
								ul.menu__list
									li.menu__item
										a.menu__link(href="404.html") HOME
									li.menu__item
										a.menu__link(href="404.html") SHOP
									li.menu__item
										a.menu__link(href="404.html") BLOG
									li.menu__item
										a.menu__link(href="404.html") ABOUT
									li.menu__item 
										a.menu__link(href="404.html") CONTACT US
							button.menu__icon.icon-menu(type="button")
								span

						.main-header__slider 
							.main-header__swiper 
								.main-header__slide.slide-main-header 
									.slide-main-header__content 
										.slide-main-header__left 
											.slide-main-header__top TOP COLLECTIONS 2022
											h2.slide-main-header__title We Serve Your Dream Furniture
											.slide-main-header__get Get 50% off all products
											button.slide-main-header__button SHOP NOW
										.slide-main-header__right
											.slide-main-header__item
													.slide-main-header__main-image 
														img.slide-main-header__main-picture(src="@img/main-banner/furniture-1.png", alt="Стул")
											.slide-main-header__item 
												.slide-main-header__container
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-2.png")
														.slide-main-header__price $120
														.slide-main-header__text Office Desk Chair
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-3.png")
														.slide-main-header__price $180
														.slide-main-header__text Home Alisa Sofa
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-4.png")
														.slide-main-header__price $250
														.slide-main-header__text Modern Chair
								.main-header__slide.slide-main-header 
									.slide-main-header__content 
										.slide-main-header__left 
											.slide-main-header__top TOP COLLECTIONS 2022
											h2.slide-main-header__title We Serve Your Dream Furniture
											.slide-main-header__get Get 50% off all products
											button.slide-main-header__button SHOP NOW
										.slide-main-header__right
											.slide-main-header__item
													.slide-main-header__main-image 
														img.slide-main-header__main-picture(src="@img/main-banner/furniture-1.png", alt="Стул")
											.slide-main-header__item 
												.slide-main-header__container
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-2.png")
														.slide-main-header__price $120
														.slide-main-header__text Office Desk Chair
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-3.png")
														.slide-main-header__price $180
														.slide-main-header__text Home Alisa Sofa
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-4.png")
														.slide-main-header__price $250
														.slide-main-header__text Modern Chair
								.main-header__slide.slide-main-header 
									.slide-main-header__content 
										.slide-main-header__left 
											.slide-main-header__top TOP COLLECTIONS 2022
											h2.slide-main-header__title We Serve Your Dream Furniture
											.slide-main-header__get Get 50% off all products
											button.slide-main-header__button SHOP NOW
										.slide-main-header__right
											.slide-main-header__item
													.slide-main-header__main-image 
														img.slide-main-header__main-picture(src="@img/main-banner/furniture-1.png", alt="Стул")
											.slide-main-header__item 
												.slide-main-header__container
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-2.png")
														.slide-main-header__price $120
														.slide-main-header__text Office Desk Chair
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-3.png")
														.slide-main-header__price $180
														.slide-main-header__text Home Alisa Sofa
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-4.png")
														.slide-main-header__price $250
														.slide-main-header__text Modern Chair
								.main-header__slide.slide-main-header 
									.slide-main-header__content 
										.slide-main-header__left 
											.slide-main-header__top TOP COLLECTIONS 2022
											h2.slide-main-header__title We Serve Your Dream Furniture
											.slide-main-header__get Get 50% off all products
											button.slide-main-header__button SHOP NOW
										.slide-main-header__right
											.slide-main-header__item
													.slide-main-header__main-image 
														img.slide-main-header__main-picture(src="@img/main-banner/furniture-1.png", alt="Стул")
											.slide-main-header__item 
												.slide-main-header__container
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-2.png")
														.slide-main-header__price $120
														.slide-main-header__text Office Desk Chair
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-3.png")
														.slide-main-header__price $180
														.slide-main-header__text Home Alisa Sofa
													.slide-main-header__chair
														.slide-main-header__image
															img.slide-main-header__picture(src="@img/main-banner/furniture-4.png")
														.slide-main-header__price $250
														.slide-main-header__text Modern Chair
							.main-slider__dotts.swiper-pagination
								
					
